/* List styling for Tiptap */
.ProseMirror ul,
.ProseMirror ol {
  margin-left: 1.5em;
  padding-left: 1em;
}
.ProseMirror ul {
  list-style-type: disc;
}
.ProseMirror ol {
  list-style-type: decimal;
}

/* Equation block styling */
.latex-block {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  padding: 0;
  margin: 0 0.1em;
  font-size: 1em;
  font-family: inherit;
  color: #222;
}
